# Ultralytics YOLOv8
ultralytics

# OpenCV for image processing
opencv-python

# yq for YAML manipulation
yq

# labelme for annotation
labelme

# labelme2yolo for YOLO format conversion
labelme2yolo

# torchinfo for PyTorch model information
torchinfo